:root{
  /* colors */
  --dark: #000000;
  --white: #FFFFFF;
  --dark-grey: rgba(0, 0, 0, .5);
  --mid-grey: rgba(0, 0, 0, .25);
  --light-grey: rgba(185, 185, 185, .6);
  --lightly-grey:rgba(251, 251, 251, 0.7);
  --dark-blue: #1619FB;
  --main-blue: rgba(22, 25, 251, .6);
  --error-red: #FF5949;
  --light-red: #FDC8C3;

  /*background colors */
  --dark-background: linear-gradient(64.7deg, rgba(22, 25, 251, 0.36) 25.51%, rgba(253, 200, 195, 0.36) 100%);
  --blue-background: linear-gradient(80.25deg, rgba(120, 140, 251, 0.6) 9.75%, rgba(22, 25, 251, 0.6) 49.02%);
  --dark-blue-background: linear-gradient(80.25deg, rgba(120, 140, 251, 0.6) 9.75%, rgba(8, 12, 251, 0.6) 49.02%);
  --main-background: rgba(251, 251, 251, 0.7);
  --light-background: rgba(251, 251, 251, 0.45);

  /* shadows */
  --dark-shadow: 20px 20px 40px -6px rgba(0,0,0,0.1);
  --light-shadow: 20px 20px 40px -6px rgba(135, 135, 138, 0.1);

  /* borders */
  --blue-border: 1px solid rgba(22, 25, 251, 0.6);
  --grey-border: 1px solid rgb(165, 165, 165);
  --dashed-border: 1px dashed rgba(0, 0, 0, 0.5);
  --gradient-border: 6px solid linear-gradient(80.25deg, rgba(120, 140, 251, 0.6) 9.75%, rgba(22, 25, 251, 0.6) 49.02%);

  /* radius */
  --main-radius: 15px;
  --small-radius: 10px;

  /* fonts */
  --title-font: "Krona One";
  --main-font: 'Open Sans', sans-serif;
}

/* 
    GLOBAL 
*/

.App {
  background: var(--dark-background);
  color: var(--dark);
}

.blue-btn {
  background: var(--blue-background);
  color: var(--white);
  text-decoration: none;
  border-radius: var(--main-radius);
  border: 0;
  font-family: var(--title-font);
  font-size: 80%;
  padding: 15px 20px;
}

.blue-btn:hover {
  background: var(--dark-blue-background);
}

.blue-secondary-btn {
  background: var(--white);
  color: var(--main-blue);
  text-decoration: none;
  border-radius: var(--main-radius);
  border: 3px solid var(--main-blue);
  font-family: var(--title-font);
  font-size: 80%;
  padding: 12px 20px;
}

.grey-btn {
  background: var(--mid-grey);
  color: var(--white);
  border-radius: var(--main-radius);
  border: 3px solid var(--light-grey) ;
  font-family: var(--title-font);
  font-size: 80%;
  padding: 12px 20px;
}

/* 
    HOMEPAGE 
*/

.homepage {
  display: flex;
}

.homepage-section {
  width: 80vw;
  min-height: 100vh;
  margin: 10vh auto;
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  box-shadow: var(--light-shadow);
  border-left: 1px solid var(--lightly-grey); border-top: 1px solid var(--lightly-grey);
}

.homepage-nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 30px 40px;
}

.sprintly-logo {
  width: 15%;
}

.auth-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 35px;
  margin-right: 20px;
}

.homepage-link {
  font-family: var(--title-font);
  font-size: 80%;
  text-decoration: none;
  color: var(--dark);
  padding: 0 30px;
}

.homepage-link.participant-link {
  padding-right: 0;
}

.homepage h2 {
  font-family: var(--title-font);
  font-size: 170%;
  margin-bottom: 40px;
}

.homepage-container {
  margin: 10vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.try-it-btn {
  padding: 10px 40px;
  font-size: 110%;
}

.empty-container-1 {
  max-height: 45vh;
  min-width: 50vh;
  height: 45vh;
  width: 90vh;
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  margin-left: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--lightly-grey); border-top: 1px solid var(--lightly-grey);
  box-shadow: var(--light-shadow);
}

.empty-container-1:hover {
  max-height: 45vh;
  min-width: 50vh;
  height: 45vh;
  width: 90vh;
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  margin-left: 4vw;
  transform: translate(1vw, -1vh);
  transition: all .2s ease-in-out;
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--lightly-grey); border-top: 1px solid var(--lightly-grey);
  box-shadow: var(--light-shadow);
}

.empty-container-1 > img {
  width: 75%;
  height: auto;
}

.master-container {
  display: flex;
}

.empty-container-2 {
  max-height: 60vh;
  height: 60vh;
  min-width: 60vh;
  width: 60vh;
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-5vw, -5vh);
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--lightly-grey); border-top: 1px solid var(--lightly-grey);
  box-shadow: var(--light-shadow);
  margin-top: 50px;
}

.empty-container-2:hover {
  max-height: 60vh;
  height: 60vh;
  min-width: 60vh;
  width: 60vh;
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  transform: translate(-6vw, -6vh);
  transition: all .2s ease-in-out;
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--lightly-grey); border-top: 1px solid var(--lightly-grey);
  box-shadow: var(--light-shadow);
}

.empty-container-2 > img {
  width: 80%;
  height: auto;
}

.empty-container-3 {
  min-height: 25vh;
  min-width: 45vh;
  width: 45vh;
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50vw, 7vh);
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--lightly-grey); border-top: 1px solid var(--lightly-grey);
  box-shadow: var(--light-shadow);
}

.empty-container-3:hover {
  min-height: 25vh;
  min-width: 45vh;
  width: 45vh;
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  transform: translate(49vw, 6vh);
  transition: all .2s ease-in-out;
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--lightly-grey); border-top: 1px solid var(--lightly-grey);
  box-shadow: var(--light-shadow);
}

.empty-container-3-link {
  width: 88%;
  margin-left: 17px;
  margin-bottom: 15px;
}

.features-container {
  transform: translateY(-15px);
  width: 65vh;
  margin-left: 7vh;
}

.features-subcontainer {
  display: flex;
  align-items: center;
  padding-right: 5vh;
  margin-bottom: 2vh;
}

.features-subcontainer > img {
  width: 12%;
  height: 50px;
  transform: translate(-2px, -15px)
}

.prio-icon {
margin-bottom: 35px;
margin-right: 7px;
}

.sprint-icon {
  margin-bottom: 15px;
}

.features-subcontainer > aside > h5 {
  font-family: var(--title-font);
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-left: 40px;
}

.features-subcontainer > aside > p {
  font-family: var(--main-font);
  font-size: 0.8rem;
  text-align: justify;
  margin-left: 40px;
  padding-top: 5px;
  color: var(--dark-grey);
}

/* 
    NAVBAR
*/

.navbar {
  display: flex;
  justify-content: space-between;
}

.sprintly-icon {
  margin: 10px 40px;
  width: 100px;
}

.logout-icon {
  margin-right: 20px;
  width: 60px;
}

.logout-btn {
  background-color: #ffffff00;
  border: none;
  text-align: right;
}