/* 
    DASHBOARD 
*/

.dashboard {
  height: 100%;
}

.dashboard p {
  margin: 0;
  color: var(--dark);
}


.dashboard-section {
  display: flex;
  background-color: var(--light-background);
}

.left-menu {
  border-right: 1px solid var(--light-grey);
  height: 92vh;
  width: 25%;
  min-width: 25%;
}

.left-menu h1 {
  color: var(--dark-blue);
  padding-top: 25px; padding-inline-start: 40px;
  font-family: var(--title-font);
  font-size: 160%;
}

.left-menu-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff00;
  border:none;
  width: 70%;
  margin: 5px 40px;
  color: var(--dark-grey);
  font-family: var(--title-font);
  font-size: 60%; 
  cursor: pointer;
}

.left-menu-link:hover {
  background-color: var(--light-background);
  border-radius: var(--small-radius);
}

.left-menu-icon {
  width: 20%;
  min-width: 20%;
}


/* 
    PROJECTS LIST
*/

.list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: var(--dark-grey);
  margin-top: 30px;
}

.list li {
  list-style: none;
  background-color: var(--light-background);
  border-radius: var(--small-radius);
  border: 1px solid var(--main-background);
  width: 250px;
  padding: 20px;
  margin: 20px 10px;
}

.list li:hover {
  background-color: var(--main-background);
  transform: scale(1.02);
}

.project-container div {
  border-bottom: 1px solid var(--white);
  padding-bottom: 20px;
}

.project-container p {
  color: var(--dark-grey);
  overflow: scroll;
  height: 40px;
}

.project-container > button {
  margin-top: 20px;
  margin-left: 60%;
  padding: 8px 30px; 
}

.project-link {
  text-decoration: none;
  color: var(--white);
}

.add-new-project {
  text-align: center;
}

.add-project-btn {
  color: var(--dark-grey);
  border: none;
  border-radius: 180%;
  padding: 2px 13px;
  font-size: 300%;
  margin: 20%;
  cursor: pointer;
  background-color: var(--light-background);
}

/* 
    NEW PROJECT POPIN 
*/

.popin-background {
  backdrop-filter: blur(10px);
  width: 100%;
  position: absolute;
}

.new-project-popin {
  background-color: var(--white);
  border: var(--blue-border);
  border-radius: var(--small-radius);
  width: 600px;
  height: 50vh;
  margin: 100px auto;
  padding: 10px 30px;
  color: var(--main-blue);
}

.new-project-popin h4 {
  margin: 30px;
  font-family: var(--title-font);
}

.new-project-popin form {
  display: flex;
  flex-direction: column;
}

.new-project-popin form > div {
  margin: 0 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.new-project-popin input {
  width: 350px;
  padding: 8px;
  border-radius: var(--small-radius);
  border: var(--grey-border);
}

.new-project-popin textarea {
  padding: 8px;
  width: 350px;
  height: 100px ;
  border-radius: var(--small-radius);
  border: var(--grey-border);
}

.popin-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.popin-buttons > input {
  margin-right: 10px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: var(--small-radius);
  cursor: pointer;
}

.popin-buttons > div {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: var(--small-radius);
  text-align: center;
  cursor: pointer;
}

/* 
   PRIORITIZATIONS LIST
*/

.prio-list-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: var(--light-background);
  padding-left: 0;
  margin: 50px;
  border-radius: var(--main-radius);
  border: 1px solid var(--white);
  width: 67vw;
}

.prio-list {
  list-style: none;
  padding: 10px 18px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 1px solid var(--white);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prio-list:hover {
  background-color: var(--light-background);
}

.prio-list:last-child {
  border-bottom: none;
}
.prio-list .title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.prio-list p {
  color: var(--dark-grey);
  padding: 0 15px 0 5px;
}

.empty-prio {
  width: 70vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.prio-list .link {
  font-size: 15px;
  cursor: pointer;
}

.prio-list .session-pin {
  color: var(--white);
  background-color: var(--mid-grey);
  padding: 5px 8px;
  border-radius: var(--small-radius);
}

.prio-list .blue-btn {
  font-size: 10px;
  padding: 5px 14px;
  margin: 0 20px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.export-icon {
  width: 30%;
}