/* 
    RESULTS
*/

.participants-list {
  padding-top: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.results-title {
  padding: 0;
  display: flex;
  align-items: center;

  margin: 10px 0 40px;
}

.export-results-icon {
  width: 40px;
}

.export-results-btn {
  font-size: 10px;
  padding: 0 14px;
  width: 145px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.participants-list h3 {
  color: var(--dark-grey);
  font-family: var(--title-font);
  font-size: 16px;
  margin-right: 30px;
}

.participant-number > div {
  text-align: center;
  font-family: var(--title-font);
  font-size: 18px;
  color: var(--dark-blue);
}

.participant-number p {
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 50px;
}

.participant-result-link  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--light-background);
  border-radius: var(--small-radius);
  width: 300px;;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.participant-result-link:hover {
  background-color: var(--main-background);
}

.participant-result-link > img {
  width: 70px;
}