/* 
    BACKLOG PAGE
*/

.backlog {
    background-color: var(--light-background);
    min-height: 100vh; 
    padding: 10px;
}

.backlog-btns {
    display: flex;
    justify-content: space-between;
}

.addStoryCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.import-btn {
    font-family: var(--title-font);
    color: var(--main-blue);
    font-size: 00.75rem;
    margin-top: 5px;
}

.workWithStoryCards {
    display: flex;
}

.workWithStoryCards > button {
    text-decoration: none;
    margin-left: 10px;
    align-self: center;
    width: 220px;
    cursor: pointer;
}

.backlog h3 {
    font-family: var(--title-font);
    color: var(--main-blue);
    font-size: 1.2rem;
    margin-top: 50px;
}

.backlog-table > table {
    margin-top: 50px;
    width: 100%;
}

.backlog-table > table > thead {
    font-family: var(--title-font);
    font-size: 12px;
    background-color: var(--main-blue);
    color: var(--white);
    height: 40px;
}

.backlog-table > table > tbody > tr >td {
    padding: 5px 8px;
    font-size: 0.95rem;
}

.backlog-table > table > tbody > tr > td:nth-child(1) {
    text-align: center;
}

.backlog-table > table > tbody > tr > td:nth-child(9) {
    text-align: center;
}

.backlog-table > table > tbody > tr > td > img {
    height: 20px;
}

.backlog-table > table > tbody > tr > td > button  {
    background: rgba(211, 211, 211, 0.4);
	color: var(--dark-grey);
    font-size: 12px;
	border: 2px solid var(--mid-grey);
    border-radius: var(--small-radius);
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 5px 8px;
    margin-bottom: 14px;
    text-align: center;
  }

.table-col-small {
    width: 50px;
}

.table-col-medium {
    width: 120px;
}

.table-col-large {
    width: 350px;
}

/* 
    STORY CARD POPIN (NEW and EDIT)
*/

.popinCard-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}

.popinCard-inner {
    position: relative;
    background-color: white;
    border: var(--blue-border);
    border-radius: var(--small-radius);
    top: 10vh;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    margin: 100px 0px;
} 

.popinCard-inner > h3 {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}


.storycard-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: var(--title-font);
    font-size: 0.75rem;
}

.storycard-item > label {
    padding-left: 5px;
}

.storycard-priorityAndStoryPoints {
    display: flex;
    justify-content: space-between;
}

.storycard-priority > select {
    height: 35px;
}

.storycard-item > input, textarea, select, p {
    margin-top: 5px;
}

.storycard-item > input, select {
    height: 20px;
    padding: 8px;
    border-radius: var(--small-radius);
    border: var(--grey-border)
}

.storycard-item > textarea {
    padding: 8px;
    height: 150px ;
    border-radius: var(--small-radius);
    border: var(--grey-border);
    font-family: var(--main-font);
}

.storycard-cta {
    margin: 25px 0;
}

.storycard-cta > input {
    margin-right: 10px;
}

