/* 
    PARTICIPANT PAGES
*/

.participant nav {
  height: 8vh;
}

.participant section {
  height: 92vh;
  background-color: var(--light-background);
  display: flex;
  justify-content:space-between;
}

.participant h4 {
  color: var(--dark-blue);
  font-family: var(--title-font);
}

.drag-column {
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px 20px;
  padding: 10px 20px;
  width: 40vw;
}

.drag-column ul {
  padding-left: 0;
  min-height: 40vw;
}

.drop-column {
  margin: 30px;
  padding: 10px 20px;
  width: 40vw;
  color: var(--dark-blue);
  font-family: var(--title-font);
}

.drop-column ul {
  padding-left: 0;
}

.draggable-container {
  list-style: none;
  background-color: var(--main-background);
  color: var(--dark-grey);
  border-radius: var(--small-radius);
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.1);
  padding: 2px 15px;
  margin-top:  10px;
}

.drop-target-container {
  list-style: none;
  background-color: var(--light-background); 
  /* rgba(251, 251, 251, 0.2) */
  color: lightslategray;
  border-radius: var(--small-radius);
  border: var(--dashed-border);
  text-align: center;
  padding: 70px 0;
}

.background-warning {
  background-color: var(--main-blue);
}

.background-light {
  background-color: none;
}

