/* 
    PARTICIPANT PAGES
*/

.participant nav {
  height: 8vh;
}

.welcome-section {
  height: 92vh;
  background-color: var(--light-background);
  display: flex;
  font-family: var(--title-font);
  color: var(--main-blue);
}

.welcome-popin {
  background-color: var(--white);
  border: var(--blue-border);
  border-radius: var(--small-radius);
  width: 50%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-popin p {
  padding: 20px;
  text-align: center;
}

.welcome-popin form {
  display: flex;
  flex-direction: column;
}

.welcome-popin form > div {
  margin: 0 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.welcome-popin label {
  margin: 5px 25px;
}

.welcome-popin input {
  width: 250px;
  padding: 8px;
  border-radius: var(--small-radius);
  border: var(--grey-border);
}

.welcome-popin-btn {
  margin: 40px auto 20px;
  padding: 12px 45px;
  border: none;
  border-radius: var(--small-radius);
}


.participant-section {
  background-color: var(--light-background);
}

.participant-section.blur {
  padding: 0 40px;
  position: absolute;
}

.prioritization-container {
  min-height: 84vh;
  display: flex;
  justify-content: space-around;
}

.participant h4 {
  color: var(--dark-blue);
  font-family: var(--title-font);
}

.drag-column {
  background-color: var(--light-background);
  border-radius: var(--main-radius);
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 20px 15px 20px;
  padding: 10px 20px;
  width: 40vw;
  /* min-height: 78vh; */
  height: 82vh;
  overflow: scroll;
}

.drop-column {
  margin: 10px 20px;
  padding: 10px 20px;
  width: 40vw;
  color: var(--dark-blue);
  height: 75vh;
  overflow: scroll;
}

.drop-column-results {
  margin: 40px 20px;
  padding: 10px 20px;
  width: 40vw;
  color: var(--dark-blue);
  height: 75vh;
  overflow: scroll;
}

/* 
    DRAGGABLE STORYCARDS
*/

.draggable-container {
  list-style: none;
  background-color: var(--light-background);
  color: var(--dark-grey);
  border-radius: var(--small-radius);
  padding: 2px 25px;
  margin-top:  10px;
  cursor: grab;
}

.draggable-container.results {
  cursor: auto;
}

.draggable-container h3 {
  color: var(--main-blue);
  /* font-family: var(--title-font); */
  font-size: 16px;
}

.draggable-container h4 {
  color: var(--dark-grey);
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: var(--small-radius);
  padding: 5px 8px;
  margin-bottom: 14px;
}

.draggable-container p {
  color: var(--mid-grey);
  width: 130px;
  margin-right: 1vw;
  margin-top: 5px;
}

.draggable-container .epic {
  margin: 0;
}

.draggable-container span {
  color: var(--dark-grey);
}

.infos-SC-wrapper {
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
}

.infos-SC {
  display: flex;
  justify-content: space-between;
}

.drop-target-container {
  list-style: none;
  background-color: var(--light-background); 
  /* rgba(251, 251, 251, 0.2) */
  color: lightslategray;
  border-radius: var(--small-radius);
  border: var(--dashed-border);
  text-align: center;
  padding: 35px 0;
}

.background-warning {
  background-color:rgba(251, 251, 251, 0.2);
  border: var(--dashed-border);
}

.prioritization-submit {
  margin-left: 75%; 
  transform: translateX(-60%) translateY(-140%);
  /* margin-bottom: 20px; */
  padding: 10px 25px;
}

/* 
    POPIN SUCESS
*/

.sucess-popin-background {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 82vh;
  padding: 50px 0;
  position: relative;
}

.sucess-popin {
  background-color: var(--white);
  border: var(--blue-border);
  border-radius: var(--small-radius);
  width: 500px;
  height: 40vh;
  margin: 120px auto;
  padding: 10px 30px;
  color: var(--main-blue);
  font-family: var(--title-font);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;;
}